// .header {
//     margin-bottom: 153px;
// }

.menu {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 583px;
}
.menu__item {
    opacity: 0.8;


    border-bottom: 1px solid transparent;

    &--active,
    &:hover {
        opacity: 1;
        border-bottom: 1px solid #ffffff;
    }

}

.menu__item-logo {    
    margin: 0 20px;
    opacity: 1;
    border: none;

    &:hover {
        border: none;
    }
}