.hero {
    background-image: url(../img/bg.jpg);
    
    background-position: center center;    
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #000;
    color: #ffffff;
    min-height: 744px;
    padding: 25px 0 85px;
    height: 100vh;
}


.hero-containder {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}